<section class="fastest-way">
    <div class="fastest-way__content">
        <h2 class="fastest-way__content--title">Fastest way to</h2>
        <h2 class="fastest-way__content--title">organize</h2>
        <p class="fastest-way__content--text">Most calendars are designed for teams.</p>
        <p class="fastest-way__content--text">State is designed for freelancers</p>
        <button class="fastest-way__content--button">Try for free</button>
    </div>
    <div>
        <img class="fastest-way__img" src="img/computer.bmp" alt="computer">
    </div>
</section>