<section class="product">
    <h1 id="product" class="product__title">Features</h1>
    <p class="product__upper-text">Most calendars are designed for teams.</p>
    <p class="product__upper-text">State is designed for freelancers</p>
    <div class="product__containers">
        <div class="product__container">
            <img class="product__img" src="img/figures.bmp" alt="figures">
            <h2 class="product__subtitle">OpenType features</h2>
            <h2 class="product__subtitle">Variable fonts</h2>
            <p class="product__text">State helps you see how</p>
            <p class="product__text">many more days you need</p>
            <p class="product__text">to work to reach your</p>
            <p class="product__text">financial goal</p>
        </div>
        <div class="product__container">
            <img class="product__img" src="img/pencil.bmp" alt="pencil">
            <h2 class="product__subtitle">Design real data</h2>
            <h2 class="product__subtitle">Variable fonts</h2>
            <p class="product__text">State helps you see how</p>
            <p class="product__text">many more days you need</p>
            <p class="product__text">to work to reach your</p>
            <p class="product__text">financial goal</p>
        </div>
        <div class="product__container">
            <img class="product__img" src="img/brush.bmp" alt="brush">
            <h2 class="product__subtitle">Fastest way to take actions</h2>
            <h2 class="product__subtitle">Variable fonts</h2>
            <p class="product__text">State helps you see how</p>
            <p class="product__text">many more days you need</p>
            <p class="product__text">to work to reach your</p>
            <p class="product__text">financial goal</p>
        </div>
    </div>
    <img class="product__video" src="img/woman.bmp" alt="Scrin of a video" width="650">
</section>