<header class="header">
    <div class="header__box-container">
        <nav class="header__navigation">
            <a class="header__navigation--link" href="#">Home</a>
            <a class="header__navigation--link" href="#product">Product</a>
            <a class="header__navigation--link" href="#">Pricing</a>
            <a class="header__navigation--link" href="#">About</a>
            <a class="header__navigation--link" href="#">Contact</a>
        </nav>
        <img class="header__logo" src="img/logo.bmp" alt="Figmaland logo">
        <img class="header__socials" src="img/twitter-logo.png" alt="Twitter logo">
        <img class="header__socials" src="img/facebook-logo.bmp" alt="Facebook logo">
        <img class="header__socials" src="img/in-logo.bmp" alt="In logo">
    </div>
    <div class="header__content">
        <h1 class="header__content--title">The best products<p></p>start with Figma</h1>
        <p class="header__content--text">More calendars are designed for teams. State is designed</p>
        <p class="header__content--text">for freelancers</p>
        <button class="header__content--button">Try for free</button>
    </div>
</header>