<section class="lighting">
    <div class="lighting__img">
        <img class="lighting__img" src="img/envelope-picture.jpg" alt="envelope">
    </div>
    <div class="lighting__content">
        <p class="lighting__content--text">At your fingertips</p>
        <h2 class="lighting__content--title">Lighting fast prototyping</h2>
        <p class="lighting__content--text">Subscribe to our Newsletter</p>
        <p class="lighting__content--text">Available exclusivery on Figmaland</p>
        <form action="https://formspree.io/f/mbjvjyzn" method="post">
            <input type="text" class="lighting__content--input" name="email" placeholder="Your Email" required>
            <button class="lighting__content--button">Subscribe</button>
        </form>
    </div>
</section>